.box {
  width: 100px;
  height: 100px;
  background: #dfe1e7;
  border-top: 1px solid #687291;

}

.align {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0 auto;
    margin-bottom: 10px;
}


.font {
  text-align: center;
    font-size: 40px;
    font-family: "Tahoma";
  /* Text is centered horizontally. 
       The font in all elements is Tahoma, 40 pixels.
       Text is centered horizontally. */
}


.Boxes2 {
  background: #eeeff2;
}
.last{
  background: #687291;
  border: 4px solid black;
}


/* Add new classes to make boxes colored and bordered according to the design in the labs */
