.container {
  /* The width and height of the Container element are auto and 600px. */
  width: auto ;
  height: 600px;
  position: relative;
}

.box {
  width: 100px;
  height: 150px;
  background: #eeeff2;
  border-left: 10px dotted  #D0D0FF;
  display: flex; 
  /* Each box is 100x150 pixels (color: #eeeff2), with a 10px dotted line (color: #D0D0FF) on the left. 
     */
}

.box:hover {
  background: yellow;
  color: goldenrod;
  /* When hovering over an box, the box and font colors change (colors: yellow, goldenrod, respectively). */
}

.align {
  display: inline-block;
  flex-direction: row;
  align-items: center;
  margin: auto 0;
  margin-left: 10px;
  /* Boxes are separated by 10 pixels of space. */
}


.font {
  
    font-size: 40px;
    font-family: "Tahoma";
  /* The font in all elements is Tahoma, 40 pixels. */
}

span {
  /* The distance between lines of text is 2. 
    There are 10 pixels of space between the letters and the edge of the box. */
}

/* Add a new class to style the box "F" is positioned in the bottom right corner of the container element and stays there even when the window resizes. */
