body {
  background-color: #fff;
  color: #333;
  font: 1.2em / 1.5 Helvetica Neue, Helvetica, Arial, sans-serif;
  padding: 1em;
  margin: 0;
}

nav div {         
  width: 80%;                 
  justify-content: space-between; 
  align-items: center;         
}



.container {
   display: flex;    
}

.flex_item {
  display: flex;

    flex-basis: auto;
    flex-basis: content;  
  


}

nav a:link,
nav a:visited {
  background-color: #4d7298;
  border: 2px solid #77a6b6;
  border-radius: 0.5em;
  color: #fff;
  padding: 0.5em;
  display: inline-block;
  text-decoration: none;
}
@media (max-width: 600px) {
  .large {
    display: none;
  }
}


@media only screen and (min-width: 600px) {

  /* Set styling when viewport is at least 600px */

  .small {
    /* Disable text links */

        display: none;
  }

  .large {
    display:block;
    /* Enable image links */
    
  }

  img {
    width: 100%;
    height:auto;
    /* set image width and height to be resizable when viewport size is adjusted*/


  }

  nav a:link,
  nav a:visited {
      margin: 0 auto;   


  }
}
